.chat
  .chat__user
    %p.name=  current_user.name
    = link_to new_group_path, class: "chat-user__action" do
      %i.fa.fa-pencil-square-o
    = link_to edit_user_path(current_user), class: "chat-user__actions" do
      %i.fa.fa-cog
  = render partial: "groups/sidebar"
.chat-main
  .chat-main__group
    %h2= @group.name
    = link_to 'Edit', edit_group_path(@group), class: "edit"
    %p.chat-main__users
      Members:
      %span.chat-main__user kurosawa
  .chat-content
    - @messages.each do |m|
      %p.chat-content__users
        = m.user.name
        %span.chat-content__time= m.created_at.strftime("%Y/%m/%d/ %H:%M:%S")
      %p.chat-content__message
        = m.body
      -if m.image?
        = image_tag m.image, size: "300x200"
  .chat-content__fotter
    .text
      = form_for [@group , @message] do |f|
        = f.text_field  :body, placeholder: 'type a message', class: 'texts'
        = f.label :image, class: 'chat-footer__file fa fa-image' do
          = f.file_field :image, class: 'chat-footer__files'
        = f.submit :sent, class:'sent'
