.chat__group
  - @groups.each do |group|
    .chat__group__link
      = link_to group_messages_path(group), class: :"chat__group__links"  do
        %p.chat__group__name
          = group.name
        %p.chat__group__mmessage
          -if  group.messages.blank?
            = "新着メッセージはありません"
          -elsif group.messages.order(created_at: :desc).take.body?
            = group.messages.order(created_at: :desc).take.body
          -else group.messages.order(created_at: :desc).take.image?
            = "画像の送信がされました"
